%icons-sm{
	display: block;
	float: left;
    margin-right: 12px;
}

.icon-istagram {
	@extend %icons-sm;
	width: 12px;
	height: 12px;
	background-image: url('../assests/icons/icon_instagram.svg');
	&:hover{
	background-image: url('../assests/icons/icon_instagram_hover.svg');
	}
}
.icon-twitter {
	@extend %icons-sm;
	width: 15px;
	height: 12px;
	background-image: url('../assests/icons/icon_twitter.svg');
	&:hover{
	background-image: url('../assests/icons/icon_twitter_hover.svg');
	}
}
.icon-vk {
	@extend %icons-sm;
	width: 22px;
	height: 12px;
    background-image: url('../assests/icons/icon_vk.svg');
    &:hover{
    background-image: url('../assests/icons/icon_vk_hover.svg');
    }
}
.icon-eye {
	@extend %icons-sm;
	width: 16px;
	height: 12px;
	background-image: url('../assests/icons/icon_eye.svg');
}
.icon-bars-graphic {
	@extend %icons-sm;
	width: 10px;
	height: 7px;
	background-image: url('../assests/icons/icon_bars_graphic.svg');
}