


figure {
	margin: 0;
}

h1,
h2,
h3,
h4, 
h5,
h6,
p {
	margin: 0;
	color: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: $transition-normal;
	&:hover{ // аналогично: a:hover
      transition:$transition-fast;
  }
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
a,
button,
label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button,
select,
input, 
textarea {
	font-family: $font-family-default;
	-webkit-appearance: none;
	outline: none;
	border: none;
	border-radius: 0;
	background: none;
	margin: 0;
}

button,
select,
label {
	cursor: pointer;
}

button {
	padding: 0;
}