figure {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: inherit; }

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: 0.25s; }
  a:hover {
    transition: 0.07s; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a,
button,
label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

button,
select,
input,
textarea {
  font-family: "Arial";
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-radius: 0;
  background: none;
  margin: 0; }

button,
select,
label {
  cursor: pointer; }

button {
  padding: 0; }

@font-face {
  font-family: 'Lato Bold';
  src: url("../assests/fonts/Lato-Bold.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato Light';
  src: url("../assests/fonts/Lato-Light.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato Regular';
  src: url("../assests/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato Semibold';
  src: url("../assests/fonts/Lato-Semibold.ttf");
  font-weight: normal;
  font-style: normal; }
.icon-instagram, .icon-twitter, .icon-vk, .icon-eye, .icon-bars-graphic {
  display: block;
  float: left;
  margin-right: 12px; }

.icon-instagram {
  width: 12px;
  height: 12px;
  background-image: url("../assests/icons/icon_instagram.svg"); }
  .icon-instagram:hover {
    background-image: url("../assests/icons/icon_instagram_hover.svg"); }

.icon-twitter {
  width: 15px;
  height: 12px;
  background-image: url("../assests/icons/icon_twitter.svg"); }
  .icon-twitter:hover {
    background-image: url("../assests/icons/icon_twitter_hover.svg"); }

.icon-vk {
  width: 22px;
  height: 12px;
  background-image: url("../assests/icons/icon_vk.svg"); }
  .icon-vk:hover {
    background-image: url("../assests/icons/icon_vk_hover.svg"); }

.icon-eye {
  width: 16px;
  height: 12px;
  background-image: url("../assests/icons/icon_eye.svg"); }

.icon-bars-graphic {
  width: 10px;
  height: 7px;
  background-image: url("../assests/icons/icon_bars_graphic.svg"); }

/*.icon_input {
  width: 10px;
  height: 4px;
  background-image: url("../assests/icons/icon_bars_graphic.svg"); }
}*/



@keyframes bodyIn {
  0% {
    opacity: 0;
    transform: translateY(7px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
body {
  font-family: 'Lato Regular';
  color: #333333; }

.wrapper-body {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 24px; }

.wrapper-body {
  max-width: 1410px; }

.pre-header-list {
  display: block;
  float: left;
  color: #828282;
  font-size: 12px; }
  .pre-header-list :last-child {
    border-right: none; }
  .pre-header-list li {
    display: block;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid #BDBDBD;
    margin-top: auto;
    margin-bottom: auto; }
    .pre-header-list li:first-child {
      padding-left: 0; }
    .pre-header-list li:last-child {
      padding-right: 0; }

.list-l1 {
  color: #333333;
  font-size: 14px; }
  .list-l1 li {
    padding-left: 20px;
    padding-right: 20px; }
    .list-l1 li a span {
      margin-left: 12px; }

.header-list-menu {
  width: 100%;
  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
  text-align: justify; }
  .header-list-menu li {
    display: inline-block; }
  .header-list-menu li.list-hidden {
    width: 100%;
    height: 0;
    display: flex;
    justify-content: space-between;
}

.nav {
  margin-top: 60px;
  }

.pre-right {
  float: right; }

.header {
  margin-top: 60px; }

.header__logo {
  margin-right: 114px;
  float: left; }

.header__phone {
  font-family: 'Lato Semibold';
  float: left;
  font-size: 24px;
  margin-right: 213px; }

.header__find {
  float: left;
  height: 33px;
  width: 292px;
  border-bottom: 1px solid #BDBDBD; }

.input-text {
  font-family: 'Lato Light';
  width: 269px;
  font-size: 14px;
  color: #828282;
  margin-top: 7px;
  margin-left: 2px; }




.information {
  width: 100%;
  height: 548px;
  margin-top: 52px;
  display: flex; 
  align-items: center;
}

.information__block {
  float: left;
  width: 600px;
  height: 100%;
  background-color: #09ABE4; 
}

.information__title {
position: relative;
top: 210px;
right: -50px;
}

.information-sub__title {
  position: relative;
  top: 100px;
  right: -50px;
}

.title2 {
  position: relative;
  top: 50px;
  right: -50px;
}

.button__text {
position: relative;
top: 250px;
right: -50px;
}

.information__text {
position: relative;
top: 230px;
right: -50px;
} 

.text2 {
position: relative;
top: 100px;
left: 10px;
} 

.text2_1 {
  position: relative;
  right: -10px;
  top: 100px;
}

.text2_2 {
  position: relative;
  right: -10px;
  top: 110px;
}

.text2_3 {
  position: relative;
  right: -10px;
  top: 150px;
}

.information__button {
position: relative;
top:250px;
right: -50px;
}

.button1 {
position: relative;
top:100px;
right: -50px;
}

.information__img {
  float: left;
  width: calc(100% - 600px);
  height: 100%;
  background-color: #BDBDBD; 
  background-image: url(assests/icons/11.svg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}


.information-sub {
  margin-top: 100px;
  width: 100%;
  height: 340px;
  background-color: #09ABE4; }

   .information-sub-img {
  float: left;
  width: calc(100% - 600px);
  height: 100%;
  background-color: #BDBDBD; 
  background-image: url(assests/icons/glasses.svg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}


.information-sub-img{
    position: relative;
    top:-20px;
}


.popular-goods {
  width: 100%;
  margin-top: 100px;
  position: relative;
  right: -70px; }

  .popular-sub {
  width: 100%;
  height: 548px;
  margin-top: 52px; }

.glasses-selection-promo {
  float: left;
  width: 600px;
  height: 100%;
  background-color: #09ABE4; }

  .picture {
  background-color: #BDBDBD; }


.share {
  width: 100%;
  margin-top: 100px; }

.share-card {
  float: left;
  width: calc(50% - 15px);
  height: 440px;
  background-color: #BDBDBD; 
}
  .share-card:last-child {
    margin-left: 30px;
    background-image: url(assests/icons/Akcii1.svg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

.share-card-inf {
  width: 100%;
  height: 154px;
  margin-top: 286px;
  background-color: #09ABE4; }

.about-com {
  width: 100%;
  margin-top: 100px; }

.about-com-card {
  width: 50%;
  height: 580px;
  float: left;
  background-color: #09ABE4; }

.about-img {
  background-color: #BDBDBD; 
  background-image: url(assests/icons/12.svg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}

  .color-text {
    color: #FFFFFF;
  }

  .footer-menu {
  margin-top: 60px; }

  .footer-list-menu {
  width: 100%;
  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
  text-align: justify; }
  .footer-list-menu li {
    display: inline-block; }
  .footer-list-menu li.list-hidden {
    width: 100%;
    height: 0;
    visibility: hidden; }


.footer_1 {
  margin-top: 60px; }

 .footer_1{
  display: flex;
  flex-direction: row;
 }

 .share-card{
  margin-top: 60px;
 }

.footer__center {
  font-size: 12px;
}

.footer__address {
  margin-top: 20px;
  font-size: 12px;
}

.footer__shop{
  color: purple;
  text-transform: uppercase;
  font-size: 12px;
}

.footer__Info {
  margin-top: 20px;
  font-size: 12px;
}

.footer__Sevsk {
  margin-top: 20px;
  font-size: 12px;
}

.footer__Arh {
  margin-top: 20px;
  font-size: 12px;
}

.footer__kontakt{
  color: purple;
  text-transform: uppercase;
  font-size: 12px;
}

.footer__phone{
  margin-top: 20px;
  font-size: 12px;
}

.footer__mail{
  margin-top: 20px;
  font-size: 12px;
}

.footer__seti{
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  flex-direction: row;

}

.footer__input{
  margin-top: 20px;
  font-size: 12px;
}

.footer__oferta{
  margin-top: 20px;
  font-size: 12px;
}

.footer__privacy{
  margin-top: 20px;
  font-size: 12px;
}

 .footer_2{
  margin-top: }

 .footer_2{
  display: flex;
  flex-direction: row;
 }


.footer__2_2{
  display: flex;
  flex-direction: row;
  position: relative;
  right:-745px;
}

.map{
  font-size: 12px;
}

.footer_1_1{

}

.footer_1_2{
  position: relative;
  left:30px;
}

.footer_1_3{
  position: relative;
  left:50px;
}

.footer_1_4{
  position: relative;
  right:-140px;
}


.footer__podpiska{
  font-size: 12px;
}

.information__title{
  color: white;
}

.information-sub__text{
  color: white;
}

.title2{
  color: white;
}

.information__text{
  color: white;
}

.information-sub__title{
  color: white;
}

.text2{
  color: white;
}

.text2_1 {
  color: white;
}

.text2_2 {
  color: white;
}

.text2_3 {
  color: white;
}

.link-more{
  color: white;
}

.about-com-card about-img
{
  width: 100%;
  margin-top: 100px; 
}


.item_box{
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  float: left;
}

.footer__visa-image {
  position: relative;
  top:-2px;
}

.footer__mastercard-image {
  position: relative;
  top:-8px;
}

.footer__maestro-image {
  position: relative;
  top:-11px;
}

.footer__2_1{
  font-size: 12px;
}

.footer__mir-image {
  position: relative;
  top:-8px;
}

.information__button {
  color: white;
}

/*  color: white; */
/*} */


/*.footer__oferta { */
/*  color: blue; */
/*  text-decoration:underline; */
/*} */

/*.footer__privacy { */
/*  color: blue; */
/*  text-decoration: underline; */
/*} */

/*.footer__mail { */
/*  color: blue; */
/*  text-decoration: underline; */
/*} */

/*.agreement { */
/*  color: blue; */
/*} */

/*.link-more { */
/*  text-decoration: underline; */
/*  text-transform: uppercase; */
/*  position: relative; */
/*  top: 200px; */
/*} */

/*.link-more1 { */
/*  text-decoration: underline; */
/*  text-transform: uppercase; */
/*  color: white; */
/*} */

/*.link-more2 { */
/*  text-decoration: underline; */
/*  text-transform: uppercase; */
/*  color: white; */
/*} */


/*.item_box1 { */
/*  position: relative; */
/*  right:2px; */
/*} */

/*.item_box2 { */
/*  position: relative; */
/*  right:2px; */
/*} */

/*.item_box3 { */
/*  position: relative; */
/*  right:2px; */
/*} */
/*.item_box4 { */
/*  position: relative; */
/*  right:2px; */
/*} */

/*.item_box1_1 { */
/*  display: flex; */
/*  flex-direction: row; */
/*} */

/*.item_box1_2 { */
/*  display: flex; */
/*  flex-direction: row; */
/*} */

/*.item_box1_3 { */
/*  display: flex; */
/*  flex-direction: row; */
/*} */

/*.item_box1_4 { */
/*  display: flex; */
/*  flex-direction: row; */
/*} */

/*.add_item { */
/*  position: relative; */
/*  right:-60px; */
/*} */


/*/1*# sourceMappingURL=main.css.map *1/ */
