@font-face {
	font-family: 'Lato Bold';
	src: url('../assests/fonts/Lato-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato Light';
	src: url('../assests/fonts/Lato-light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato Regular';
	src: url('../assests/fonts/Lato-Regular.ttf');
	font-weight: normal;[
	font-style: normal;
}
@font-face {
	font-family: 'Lato Semibold';
	src: url('../assests/fonts/Lato-Semibold.ttf');
	font-weight: normal;
	font-style: normal;
}