$font-family-default: 'Arial'; 
$font-lato: 'Lato'; 

$transmission-normal: .25s;
$transmission-fast:.07s;

$color-white: #ffffff;
$color-gr-light: #BDBDBD;
$color-gr-reg: #828282;
$color-gr-dark: #333333;

$color-blue-light: #09ABE4;
$color-blue-dark: #282686;

$screen-lg: 1200px;
$screen-md: 768px;
$screen-sm: 320px;

$max-wrapper-lg: 1410px;
$min-wrapper-lg: 291px;
$max-wrapper-sm: 290px;
$min-wrapper-sm: 290px;