
@import 'parts/vars.scss';
@import 'parts/reset.scss';
@import 'parts/fonts.scss';
@import 'parts/tmp.scss';
@import 'parts/icons.scss';




@keyframes bodyIn {
  0% {
    opacity: 0;
    transform: translateY(7px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: 'Lato Regular';
  color: $color-gr-dark;
}
%wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 24px;
}

.b-wrapper-body {
  @extend %wrapper;
  max-width: $max-wrapper-lg;
}


.b-pre-header-list {
  display: block;
  float: left;
  color: $color-gr-reg;
  font-size: 12px;
  }


  & :last-child {
    border-right: none;
  }

  li {
    display: block;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid $color-gr-light;
    margin-top: auto;
    margin-bottom: auto;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }
}

.b-list-l1 {
  color: $color-gr-dark;
  font-size: 14px;
  li {
    padding-left: 20px;
    padding-right: 20px;

    a span {
      margin-left: 12px;
    }

  }

}
.b-header-list-menu{
  //display: block;
  width: 100%;
  color: $color-gr-dark;
  font-size: 16px;
  text-transform: uppercase;
  text-align: justify;
  li {
    display: inline-block;
  }
  li.list-hidden {
    width: 100%;
    height: 0;
    visibility: hidden;
  }
}

.b-header-menu {
  margin-top: 60px;
}

.pre-right{
  float: right;
}
.b-header{
  margin-top: 60px;
}
.b-logo {
  margin-right: 114px;
  float: left;
}
.header-phone {
  font-family: 'Lato Semibold';
  float: left;
  font-size: 24px;
  margin-right: 213px;
}
.b-header-find {
  float: left;
  height: 33px;
  width: 292px;
  border-bottom: 1px solid $color-gr-light;
}

//стили для мобильного решения (max 320px)
@media (max-width: $screen-sm) {

}
//стили ядля десктопного решения (min 320)
@media (min-width: $screen-lg) {

}


.input-text {
  font-family: 'Lato Light';
  width: 269px;
  font-size: 14px;
  color: $color-gr-reg;
  margin-top: 7px;
  margin-left: 2px;
}
.clear {
  clear: both;
}


.b-information {
  width: 100%;
  height: 548px;
  margin-top: 52px;
}
.b-information-block {
  float: left;
  width: 600px;
  height: 100%;
  background-color: $color-blue-light;
}
.b-information-img {
  float: left;
  width: calc(100% - 600px);
  height: 100%;
  background-color: #BDBDBD;
}
.b-information-sub {
  margin-top: 100px;
  width: 100%;
  height: 340px;
  background-color: #09ABE4;
}
.b-popular-goods {
  width: 100%;
  margin-top: 100px;
}

.b-share {
  width: 100%;
  margin-top: 100px;

}
.b-share-card {
  float: left;
  width: calc(50% - 15px);
  height: 440px;
  background-color: #BDBDBD;
  &:last-child {
    margin-left: 30px;
  }
}
.b-share-card-inf {
  width: 100%;
  height: 154px;
  margin-top: 286px;
  background-color: #09ABE4;
}
.b-about-com {
  width: 100%;
  margin-top: 100px;
}
.b-about-com-card {
  width: 50%;
  height: 580px;
  float: left;
  background-color: #09ABE4;
}
.about-img {
  background-color: #BDBDBD;
}